.container {
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  width: 100%;
}
.sectionHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 50px 0;
  color: white;
}
.sectionHeading hr {
  width: 40%;
  height: 2px;
  background-color: #76abae;
}
.projectsContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  align-content: space-evenly;
  gap: 10px;
  padding: 0 100px;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    padding: 50px 0;
  }
  .projectsContent {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0;
  }
}
@media (max-width: 475px) {
  .container {
    padding: 50px 0;
  }
  .sectionHeading {
    text-align: center;
  }
  .sectionHeading hr {
    width: 60%;
  }
  .projectsContent {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0;
  }
}
