.container {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #31363f;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 25px;
  border-radius: 10px;
  color: #eeeeee;
}
.projectHeader {
  height: 100%;
}
.projectImage {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #31363f;
}
.cardBody h3 {
  background-color: #31363f;
}
.cardBody p {
  background-color: #31363f;
  margin-bottom: 10px;
}
.projectLinks {
  margin-top: 10px;
  background-color: #31363f;
}
.projectLinks a {
  text-decoration: none;
  margin: 2px;
  border: 1px solid #76abae;
  color: #76abae;
  padding: 5px;
}

.projectLinks a:hover {
  background-color: #76abae46;
}
