.container {
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  margin-bottom: 150px;
  width: 100%;
}
.sectionHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 50px 0;
  color: white;
}
.sectionHeading hr {
  width: 40%;
  height: 2px;
  background-color: #76abae;
}
.contactContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.contactContent p {
  width: 60%;
  margin-bottom: 50px;
  color: #eeeeee;
}
.contact {
  padding: 10px 15px;
  border: 2px solid #76abae;
  cursor: pointer;
  text-decoration: none;
  align-self: center;
  margin-right: 10px;
  color: #76abae;
}
.contact:hover {
  background-color: #76abae46;
}

.socials {
  display: none;
}

@media (max-width: 768px) {
  .container {
    padding: 50px 0;
  }
  .socials {
    display: flex;
    list-style-type: none;
    margin-bottom: 20px;
    padding: 0;
  }
  .socials li {
    margin: 40px 20px 40px 20px;
  }
  .socials li a {
    fill: white;
  }
  .socials li a:hover {
    fill: #76abae;
  }
}
@media (max-width: 475px) {
  .container {
    padding: 50px 0;
  }
  .socials {
    display: flex;
    list-style-type: none;
    margin-bottom: 20px;
    padding: 0;
  }
  .socials li {
    margin: 40px 20px 40px 20px;
  }
  .socials li a {
    fill: white;
  }
  .socials li a:hover {
    fill: #76abae;
  }
}
