.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: 222831;
  color: #eeeeee;
  background-color: #222831;
}

.navbar h1 a {
  text-decoration: none;
  color: #eeeeee;
}
.navLinks {
  display: flex;
  list-style-type: none;
}
.navLinks li {
  text-align: center;
  padding: 10px;
}
.navLinks li a {
  text-decoration: none;
}
.navLinks li a:hover {
  border-bottom: 2px solid #eeeeee;
  transition: all 0.2s ease-out;
}
