.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: 222831;
  color: #eeeeee;
  background-color: #222831;
}
.navbar h1 a {
  text-decoration: none;
  color: #eeeeee;
}
.navLinks {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.navLinks li {
  text-align: center;
  padding: 10px;
}
.navLinks li a {
  text-decoration: none;
}
.navLinks li a:hover {
  border-bottom: 2px solid #eeeeee;
  transition: all 0.2s ease-out;
}
.socials {
  display: none;
}

@media (max-width: 1536px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 640px) {
}
@media (max-width: 475px) {
  .navbar {
    flex-direction: column;
    height: 200px;
  }
  .navLinks li {
    padding: 0 10px;
  }
  .socials {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .socials li {
    margin: 10px;
  }
  .socials li a {
    fill: white;
  }
  .socials li a:hover {
    fill: #76abae;
  }
}
