.container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.link {
  margin: 0 20px;
  text-decoration: none;
  color: white;
}

.link:hover {
  border-bottom: 1px solid white;
}

@media (max-width: 1536px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
  .container {
    gap: 0;
  }
  .link {
    margin: 0 15px;
  }
}
@media (max-width: 768px) {
  .container {
    display: none;
  }
}
@media (max-width: 640px) {
}
@media (max-width: 475px) {
}
